@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #080202;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 25px;
}
.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: #DB241B;
}
.swiper-button-prev {
    color: #DB241B;
}

.swiper-pagination-bullet {
    background-color: #D3d2d2;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #DB241B;
}

/* Menu */
.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}
.menu-1 {
    margin-right: 180px;
}

.menu-2 {
    margin-bottom: auto;
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}
.logo-2 {
    width: 150px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
}
.social:hover {
    background-color: #DB241B;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #DB241B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* Header */
.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}
.slider-txt h1 {
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase; /* con este lo convertimos a mayuscula a la letra*/
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #A7A7A7;
}

.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    background-color: #DB241B;
}

.slider-img {
    width: 50%;
}

.slider-img img {
    /*margin-right: 225px;
    width: 550px;*/
    max-width: 100%;
    height: auto;
}

/* Main */
.products {
    background-color: #0d0d0d;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #A7A7A7;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #DB241B;
    color: #FFFFFF;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

/* main: Productos */
.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;  /* altura de la letra */
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    max-width: 100%;
    height: auto;
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;
}

.info-img img {
    width: 100%;
    height: auto;
}

.info-txt {
    width: 50%;
}

.info-txt h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn-2:hover {
    background-color: #ab1c15;
}

/* Seccion horarios */
.horario {
    padding: 100px 0px;
    background-color: #0d0d0d;
}

.horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.txt {
    color: #FFFFFF;
}

.txt h4 {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 30px;
}

.txt p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Seccion maps */
.map {
    filter: grayscale(100%) invert(92%) contrast(93%); /* oscurece nuestro mapa */    
}

/* Footer */
.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
}

.links h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

/* CSS DEL CARRITO */
#body-carrito {
    background-color: #080202;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.header-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.titulo-carrito {
    margin-right: 7%;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    flex: 1;
}

.menu-carrito a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DB241B;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
}

.menu-carrito a:hover {
    background-color: #b51d16;
}

.carrito-vacio {
    display: none;
}

/* Centrar los productos */
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin-top: 30px;
}

.carrito-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f1e5;
    color: #555555;
    border-radius: 10px;
    padding: 10px 15px;
    gap: 1rem;
}

.carrito-producto-imagen {
    width: 60px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.carrito-producto-titulo,
.carrito-producto-cantidad, 
.carrito-producto-precio,
.carrito-producto-subtotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100px;
}

.carrito-producto small {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #555555;
    margin-bottom: 3px;
}

.carrito-producto h3,
.carrito-producto p {
    margin: 0;
    font-weight: bold;
}

.carrito-producto-eliminar {
    display: flex;
    margin-left: auto;
    border: none;
    background: none;
    color: #555555;
    font-size: 1.5rem;
    transition: transform 0.2s;
    cursor: pointer;
}

.carrito-producto-eliminar:hover {
    transform: scale(1.2);
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.carrito-acciones-izquierda button {
    background-color: #d32f2f;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

.carrito-acciones-izquierda button:hover {
    background-color: #ab1c15;
}

.carrito-acciones-derecha {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carrito-acciones-total {
    display: flex;
    gap: .5rem;
    background-color: #f8f1e5;
    color: #080202;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
}

.carrito-acciones-comprar {
    background-color: #DB241B;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.carrito-acciones-comprar:hover {
    background-color: #ab1c15;
}

/* Mensaje de compra centrado */
.carrito-comprado,
.carrito-vacio {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10%;
}

.footer-carrito {
    display: flex;
    background-color: #0d0d0d;
    padding: 15px;
    margin-top: 30%;
}

.footer-carrito img {
    margin-left: 100%;
}

.texto-footer {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: auto;
}

.disabled {
    display: none;
}

/* formulario de compra del carrito */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-contenido {
    background-color: #FFFFFF;
    margin: 8% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    color: #181818;
    position: relative;
}

.modal-cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#form-compra {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-compra label {
    font-weight: bold;
}

#form-compra input,
#form-compra select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-confirmar {
    background-color: #DB241B;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-confirmar:hover {
    background-color: #b51d16;
}

/* CSS DEL MENU */
#body-menu {
    background-color: #0d0d0d;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 40px;
}

.header-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.titulo-menu {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.accion-volver-menu,
.btn-carrito-menu {
    background-color: #DB241B;
    padding: 5px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

.accion-volver-menu:hover {
    background-color: #b51d16;
}

.btn-carrito-menu:hover {
    background-color: #b51d16;
}

.categoria-menu {
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 20px;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
}

.producto-card {
    background-color: #f8f1e5;
    color: #555555;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.producto-card > * {
    margin: 5px 0;
}

.producto-imagen {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.producto-precio {
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
}

.btn-agregar {
    margin-top: auto;
    padding: 8px 14px;
    background-color: #DB241B;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-agregar:hover {
    background-color: #b51d16;
}

/* Responsive */

/* Tablet grande */
@media (max-width: 996px) {
    .menu {
        padding: 20px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100px;
    }

    .slider {
        margin-top: 25px;
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin-right: 0;
        width: 300px;
        height: auto;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: auto;
        margin-bottom: 25px;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
        gap: 30px;
    }

    .socials {
        justify-content: center;
    }

    .socials img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }

    .titulo-carrito {
        margin-right: 0;
    }

    /* footer de menu y carrito */
    .footer-carrito {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    
    .footer-carrito img {
        margin: 0;
        width: 120px;
    }
}

/* Tablet pequeña */
@media (max-width: 768px) {
    .slider-txt h1 {
        font-size: 40px;
    }

    .tabs label {
        width: 50%;
        font-size: 16px;
    }

    .slider-img img {
        width: 250px;
    }

    .info-txt h2 {
        font-size: 40px;
    }

    .info-txt p {
        font-size: 14px;
    }

    .horario-info h2 {
        font-size: 40px;
    }

    .horario-txt {
        gap: 20px;
    }

    /* menu.html */
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-top: 50px;
    }

    .titulo-menu {
        position: fixed;
        top: 30px;
        font-size: 23px;
        text-align: center;   
        margin-bottom: 20px;
    }

    .accion-volver-menu,
    .btn-carrito-menu {
        text-align: center;
        display: block;
    }

    .menu-grid {
        width: 85%;
    }

    .menu-grid img {
        width: 100%;
        height: auto;
    }

    /* carrito */
    .header-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-top: 80px;
        margin-bottom: 50px;
    }   

    .titulo-carrito {
        position: fixed;
        top: 20px;
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }

    /* carrito */
    .carrito-productos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        flex-direction: column;
        gap: 1rem;
    }
    
    .carrito-producto {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    .carrito-producto-imagen {
        width: 100px;
        height: auto;
    }

    .carrito-producto-titulo,
    .carrito-producto-cantidad,
    .carrito-producto-precio,
    .carrito-producto-subtotal {
        min-width: auto;
        width: 100%;
        align-items: center;
    }

    .carrito-producto-eliminar {
        margin-left: 0;
    }
    
    .carrito-acciones {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .carrito-acciones-vaciar {
        margin: 25px 0;
    }

    .carrito-acciones-derecha {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        align-items: center;
    }

    .carrito-acciones-total {
        width: 50%;
        justify-content: center;
    }

    .carrito-acciones-comprar {
        width: 50%;
        text-align: center;
        font-size: 15px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .slider-txt h1 {
        font-size: 30px;
    }

    .slider-txt p {
        font-size: 14px;
    }

    .btn-1 {
        padding: 8px 20px;
        font-size: 12px;
    }

    .slider-img img {
        width: 200px;
    }

    .tabs label {
        width: 100%;
        font-size: 14px;
    }

    .info-txt h2 {
        font-size: 30px;
    }

    .info-txt p {
        font-size: 12px;
    }

    .horario-info h2 {
        font-size: 30px;
    }

    .footer {
        padding: 20px;
    }
}